/* Skills.css */
.skills-section {
    padding: 30px;
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
   
   
  }
  
  .skills-section h2 {
    color: #000000; /* Set your preferred heading color */
  }
  
  .skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .skills-list li {
    margin: 5px;
    padding: 8px 15px;
    background-color: #3498db; /* Set your preferred skill item background color */
    color: #fff; /* Set your preferred skill item text color */
    border-radius: 4px;
    font-size: 14px;
  }
  